---
import type { ContactProps } from '@types';
import ObfuscatedEmail from './ObfuscatedEmail.astro';
import ObfuscatedPhone from './ObfuscatedPhone.astro';
import Section from './Section.astro';

type Props = ContactProps;

const { email, phone } = Astro.props;
---

<Section text="Contact me" href="contact">
  <div class="flex flex-col items-center gap-12 md:flex-row md:gap-8">
    <a class="inline-block rounded-full bg-primary px-8 py-5 text-sm leading-5 font-medium text-[#fff]">
      <ObfuscatedEmail email=`${email}` text="Email"/>
    </a>
    <a class="inline-block rounded-full bg-primary px-8 py-5 text-sm leading-5 font-medium text-[#fff]">
      <ObfuscatedPhone phone=`${phone}` text="Phone"/>
    </a>
  </div>
</Section>
